<%= flash[:correct_user] %>

<div class ="main_image_box">
	<p>旅をしよう。</p>
	<p>MOTALBONDsで繋がろう。</p>
</div>
<div class ="main_message_box">
	<p>MOTALBONDsはドライブやツーリングの仲間と繋がれる動画投稿型SNSです。</p>
</div>
<div class ="main_content_box clearfix">
	<div>
		<i class="fas fa-video"></i>
		<p>ツーリングやドライブの動画をアップロードしよう！！コメント機能を使ってコメントを送ってみよう！！</p>
	</div>
	<div>
		<i class="fas fa-map-marked-alt"></i>
		<p>行ったことのあるスポットを投稿しよう！！次に行くスポットを探してみよう！！</p>
	</div>
	<div>
		<i class="far fa-paper-plane"></i>
		<p>フレンドとチャット機能を使おう！！</p>
	</div>
	<div>
		<i class="far fa-calendar-alt"></i>
		<p>カレンダー機能を使って予定を立てよう！！</p>
	</div>
</div>


<span class ="up">
	<a href ="#">
		<i class="fas fa-chevron-up"></i>
	</a>
</span>