// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



/*ユーザーマイページ*/
.icon{
 	border-radius: 50%;
 	border: 0.4em solid white;
 }

 .blanck_box{
 	width:25%;
 	height:10px;
 	float:left;
 }


.nickname{
 	font-size: 1.5em;
 	 width:45%;
 	 float:left;
 	 text-align:center;
 }


.link_decoration{
	text-decoration: none;
}

.unfollow_button{
	padding:5px;
	border:solid 1px black;
	color:gray;
}

.unfollow_button:hover{
	background:white;
}

.follow_button{
	padding: 5px 10px;
	border-radius: 10px;
	border:solid 1px #1ba5dc;
	background: white;
	color:#1ba5dc;
}

.follow_button:hover{
	border:solid 1px #1ba5dc;
	background:#1ba5dc;
	color: white;
}

.mypage_box{
	width: 560px;
	margin: 0 auto;
}

.shift_tabs {
  margin-top: 50px;
  padding-bottom: 40px;
  width: 560px;
  margin: 0 auto;
  }

.tab_item {
  width: calc(100%/2);
  height: 30px;
  border-bottom: 1px solid gray;
  line-height: 30px;
  font-size: 14px;
  text-align: center;
  color: gray;
  display: block;
  float: left;
  text-align: center;
  transition: all 0.2s ease;
}
.tab_item:hover {
  color: black;
}

input[name="tab_item"] {
  display: none;
}

.tab_content {
  display: none;
  padding-top: 20px;
  clear: both;
  overflow: hidden;
  p{
  	float:right;
  	font-size: 0.9em;
  }
}


#post_items:checked ~ #post_contents,
#spot_items:checked ~ #spot_contents{
  display: block;
}

.shift_tabs input:checked + .tab_item {
  background-color: gray;
  color: #fff;
}



.profile_box{
	padding-top:30px;
	width:1200px;
	height: 220px;
	margin:0 auto;
}

.profile_image{
	float: left;
}

.profile_image_box{
	padding-left: 200px;
}


.edit_bottun{
	font-size:0.8em;
	text-decoration: none;
	border: 0.118em solid black;
	padding:5px 10px;
	border-radius: 10px;
	width:30%;
	float: left;
}

.edit_bottun:hover{
	border: 0.1em solid black;
	background: white;
}

.profile_body{
	float: left;
	width: 500px;
	text-align: center;
}

.info_nav{
	padding:10px 0;
}

.introduction{
	text-align: left;
	padding: 10px 40px 0 40px;
	font-size: 0.9em;
}

.user_show_nav{
	width: 350px;
	height: 200px;
	float:left;
}

.nav_ball{
	position:relative;
	margin: 10px 0 0 30px;
    width: 45px;
    height:45px;
    border: solid 1px gray;

    span{
    	positoin:absolute;
    	background-color: gray;
    	display: block;
    	height:1px;
    	width: 76%;
    	margin: 10px auto;
    }
}

.user_show_nav div:hover{
	background-color:white;
}


.nav_ball.active{
 	transform: scale(1);/*非表示にしておく*/
    animation-name:nav_ball;
    animation-duration:380ms;
    animation-fill-mode:forwards;
    animation-iteration-count:1;
    animation-timing-function:ease-in-out;
}


@keyframes nav_ball{
  45%{
  	transform: scale(1.2);
    border-radius:20%;
    margin: 5px 0 0 140px;
  }

  90%{
  	border-radius:50%;
  	transform: scale(1.5);
  	margin: 5px 0 0 150px;
  	border: solid 2.03px gray;

  }
  93%{
  	transform: scale(1.3);
  }
  100%{
  	margin: 5px 0 0 150px;
    transform: scale(1.4);
    border-radius:50%;
    border: solid 1.9px gray;
  }
}

.nav_ball.active span{
	width: 65%;
	height:1px;
	barder-raidus: 1px;
}

.nav_ball.active span:nth-child(1){
	 -webkit-transform: translateY(11px) rotate(45deg);
 	 transform: translateY(11px) rotate(-45deg);
}

.nav_ball.active span:nth-child(2){
	opacity: 0;
}

.nav_ball.active span:nth-child(3){
	-webkit-transform: translateY(11px) rotate(45deg);
 	 transform: translateY(-11px) rotate(45deg);
}

@keyframes nav_ball_bar{
	80%{
		transform: scale(1.3);
	}

	100%{
		transform: scale(1.2);
	}
}

.ball_box{
	width:70%;
	height:60px;
	margin:25px auto 0 auto;
	display: block;
}

.ball_item1{
	margin-top: 7px;
	font-size: 40px;
	color:gray;
}

.calendar_ball{
	float:right;
	margin-right: 8px;
	width: 60px;
    height:60px;
    border:solid 2px gray;
    border-radius: 50%;
   	text-align:center;
	opacity:0;
}

.bookmark_ball{
	float:right;
	width: 60px;
    height:60px;
    margin-right: 27px;
    border:solid 2px gray;
    border-radius: 50%;
   	text-align:center;
	opacity:0;
}

.ball_item2{
	margin-top: 7px;
	font-size: 40px;
	color:gray;
}


.mail_ball{
	float:left;
	width: 60px;
    height:60px;
    border:solid 2px gray;
    border-radius: 50%;
   	text-align:center;
   	opacity:0;
}

.ball_item3{
	margin-top: 7px;
	font-size: 40px;
	color:gray;
}

.calendar_ball.active{
	opacity:1;
	animation-name:ball;
    animation-duration:600ms;
    animation-fill-mode:forwards;
    animation-iteration-count:1;
    animation-timing-function:ease-in-out;
}

.bookmark_ball.active{
	opacity:1;
	animation-name:ball;
    animation-duration:670ms;
    animation-fill-mode:forwards;
    animation-iteration-count:1;
    animation-timing-function:ease-in-out;
}

.mail_ball.active{
	opacity:1;
	animation-name:ball;
    animation-duration:740ms;
    animation-fill-mode:forwards;
    animation-iteration-count:1;
    animation-timing-function:ease-in-out;
}

@keyframes ball{
	0%{
		transform: scale(0);
	}
	60%{
		transform: scale(0);
	}

	90%{
		transform: scale(1.1);
	}
	93%{
		transform: scale(0.9);
	}

	100%{
		transform: scale(1);
	}
}




/*ユーザー編集画面*/

.edit_box{
	background-color: white;
	width:900px;
	margin:2em auto 0 auto;
	padding: 50px 50px;
	table{
		float: left;
		margin: 0 0 20px 50px;
		width: 600px;
		th{
			width: 150px;
		}
	}
}

.edit_profile_image_box{
	float:left;
	width: 150px;
	a{
		display: block;
		text-align:center;
	}
	a:hover{
		opacity: 0.5;
	}
}

.explanation{
	font-size: 0.7em;
	color: gray;
}


.edit_icon{
	margin-bottom: 20px;
	display: block;
	border-radius: 50%;
 	border: 5px solid #F5F5F5;
}

/*リレーションシップ画面*/

.relationship_main_box{
	width: 600px;
	margin:30px auto 0 auto;
	background-color:white;
	padding:20px 0;
	p{
		height: 50px;
		line-height: 50px;
		text-align:center;
		margin-bottom: 30px;
		font-size: 20px;
	}
}

.follower_following_box{
	margin:0 15px 20px 15px;
	height: 55px;
	line-height: 55px;
	padding: 4px 10px;
}

.follower_following_box:hover{
	opacity: 0.6;

}

.follower_following_box:nth-child(1){
	margin: 20px 15px;
}

.relationship_nickname{
	margin: 0 10px;
	display: inline-block;
	width: 350px;
}

.relationship_button_box{
	float:right;
	display: inline-block;
}

.relationship_icon{
 	border-radius: 50%;
 	border: 2px solid gray;
 }


 /*カレンダー画面*/

.calendar_box{
	width: 1100px;
	height:610px;
	margin: 0 auto;
}

.calendar{
	width: 700px;
	background-color: white;
	padding: 10px;
	float: left;
	margin-top: 20px;
}

.event_tabs{
	margin-left:50px;
	width: 350px;
	float: left;
}


.event_tabs input:checked + .tab_item {
  background-color: gray;
  color: #fff;
}

.new_event_box{
	margin-bottom: 30px;
	padding: 10px;
	background-color: white;
	text-align: center;
	p{
		font-size: 18px;
		font-weight: 600;
	}

	table{
		margin: 10px auto;
		th{
			font-weight: 500;
			font-size: 15px;
		}

		td{
			padding-left: 10px;
		}
	}
}

.event_box{
	width: 350px;
	padding: 10px;
	margin-bottom: 10px;
	border-bottom: 0.5px solid gray;
	span{
		width: 150px;
		display: inline-block;
		margin-right: 10px;
	}
	span:hover{
		opacity:0.5;
	}
	a:hover{
		opacity:0.5;
	}
}

.fc-sun{
	color:red;
	background-color: #FFDBC9;
	opacity: 0.5;
}

.fc-sat{
	color:blue;
	background-color: #FFDBC9;
	opacity: 0.5;
}

.event_notice{
  color:red;
  opacity:0.5;
  background-color: #FFCCCC;
  border:double 5px red;
  text-align: center;
  width:300px;
  text-align: left;
  margin:0 auto;
  padding: 5px 0 5px 20px;
}

.event_notice p{
  margin:3px 0;
  font-size: 12px;
}


/*DM画面*/


.dms_page{
	width:1000px;
	height: 700px;
	margin:0 auto;
	background-color: white;
	position:relative;
}

.back_box{
	width:50px;
	height:580px;
	background-color:gray;
}

.back_box:first-child{
	height:20px;
}

.tab_items{
	width:50px;
	height:50px;
	line-height: 50px;
	font-size:25px;
	display: block;
	background-color: gray;
	text-align:center;
	transition: all 0.2s ease;
}

.tab_items:hover {
	opacity: 0.85;
}

input[name="tab_items"] {
	display: none;
}

.tab_contents{
	float:left;
	width:950px;
	display: none;
	overflow: hidden;
	clear: both;
	position:absolute;
	right:0;
	top: 0;
}

#chat_rooms:checked ~ #chat_rooms_contents,
#chat_users:checked ~ #chat_users_contents{
	display: block;
}

.dms_page input:checked + .tab_items {
	opacity: 0.7;
	color: white;
}

.chat_user_left_box{
	height:700px;
	width:400px;
	float:left;
	border-right:double 3px gray;
}

.chat_user_search_box{
	width:400px;
	height:48px;
	padding-top: 10px;
	text-align:center;
	border-bottom:solid 2px gray;

}

.chat_users_box{
	line-height:50px;
	float:left;
	p{
		width:350px;
		margin: 5px auto 0 auto;
	}
}

.chat_friends_box{
	line-height:50px;
	float:left;
	margin-top: 30px;
}

.chat_user_box{
	width:350px;
	margin: 5px auto 0 auto;
}


.chat_user_box:hover{
	opacity: 0.9;
	background-color: #F5F5F5;
}

.chat_user_profile{
	width: 550px;
	padding:20px;
	float:left;
	text-align:center;
}

.chat_user_image_box{
	width:150px;
	height:150px;
	margin:100px auto 0 auto;
}

.chat_user_info_box{
	width:300px;
	margin:20px auto 0 auto;
	p{
		margin-top: 10px;
	}

	p:first-child{
		font-size:20px;
		font-weight:600;
	}

}

.chat_link_box{
	width: 200px;
	margin:20px auto 0 auto;
	font-size: 20px;
	border:solid 2px gray;
	border-radius: 15px;
	transition: all 0.3s ease;
}

.chat_link_box:hover{
	opacity:0.8;
	color:black;
	background-color:gray;
}

.chat_user_icon{
	width: 150px;
	height:150px;
	border-radius:50%;
	border:solid 3px gray;
}

.chat_messages_right_box{
	width: 550px;
	float:left;
}

.chat-friend_name_box{
	text-align: center;
	border-bottom:double 3px gray;
}

.partners_profile_box{
	line-height: 50px;
	height: 50px;
	display:inline-block;
}

.partners_profile_box:hover{
	opacity: 0.5;
}

.chat_messages_box{
	margin: 0 auto 20px auto;
	padding: 20px 50px 0 50px;
	div {
		margin: 5px 0;
	}
}

.chat_message_form_box{
	text-align:center;
	height:100px;
}

.no_room_message_box{
	font-size: 20px;
	font-weight: 600;
	padding: 100px 20px;
	text-align:center;
}

.my_message{
	text-align:right;
	p{
		font-size: 8px;
		color: gray;
	}
}
.partners_message{
	texr-align: left;
	p{
		font-size: 8px;
		color: gray;
	}
}










